<!DOCTYPE html>
<html>
    <head>
        <title>Debat Caketos & Cawaketos SMA Negeri 3 Surakarta</title>
        <link rel="stylesheet" href="css/w3.css">
        <link rel="stylesheet" href="css/w3-theme.css">
        <script src="js/vue.min.js"></script>
        <script src="js/data.js"></script>
    </head>
    <body class="w3-theme-l5">
        <div id="app">
            <div style="position: fixed; top: 320px; right: 0px">
                <div class="w3-cell-row">
                    <div v-if="!panelShown" class="w3-cell w3-cell-top">
                        <span class="w3-btn w3-theme-action" v-on:click="panelShown = true">&laquo;</span>
                    </div>
                    <div v-if="panelShown" class="w3-animate-right">
                        <div class="w3-cell w3-cell-top">
                            <span class="w3-btn w3-theme-action" v-on:click="panelShown = false">&raquo;</span>
                        </div>
                        <div class="w3-cell w3-cell-top w3-card-4 w3-white" style="width: 300px">
                            <div class="w3-padding-large">
                                <div class="w3-section">
                                    <label for="action">Sesi:</label>
                                    <select id="action" v-bind:disabled="timer != null" v-on:change="action = event.target.value" class="w3-select w3-border">
                                        <option v-for="(value, key) in actions" v-bind:value="key" v-bind:selected="key === action" v-if="key !== 'default'">{{ value.session }}: {{ value.description }}</option>
                                    </select>
                                </div>
                                <div class="w3-section">
                                    <label for="candidate">Pasangan:</label>
                                    <select id="candidate" v-bind:disabled="timer != null" v-on:change="candidate = parseInt(event.target.value)" class="w3-select w3-border">
                                        <option v-for="(value, i) in candidates" v-bind:value="i" v-bind:selected="i === candidate">{{ candidateNum(i) }}: {{ value.chairman }} - {{ value.viceChairman }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <header class="w3-theme w3-card">
                <div class="w3-padding w3-cell-row">
                    <div class="w3-cell w3-cell-middle">
                        <img src="img/logo-smaga.png" width="96px" height="96px"></img>
                    </div>
                    <div class="w3-cell w3-cell-middle w3-center" style="width: 99%">
                        <h1>Debat Calon Ketua dan Wakil Ketua OSIS</h1>
                        <h3>SMA Negeri 3 Surakarta</h3>
                    </div>
                    <div class="w3-cell w3-cell-middle">
                        <img src="img/logo-mpk.png" width="96px" height="96px"></img>
                    </div>
                    <div class="w3-cell w3-cell-middle">
                        <img src="img/logo-admin.png" width="96px" height="96px"></img>
                    </div>
                </div>
            </header>
            <div>
                <div class="w3-cell-row" style="padding-top: 64px; padding-bottom: 64px">
                    <div class="w3-cell w3-padding" style="width: 50%">
                        <div class="w3-card-4 w3-theme-d2">
                            <div class="w3-padding w3-center">
                                <h2>Sesi {{ actions[action].session }}</h2>
                                <h3>{{ actions[action].description }}</h3>
                            </div>
                            <div class="w3-center w3-white">
                                <div class="w3-padding">
                                    <b class="w3-xxxlarge">{{ timerStr }}</b>
                                </div>
                                <div class="w3-padding">
                                    <h1>#{{ candidateNum(candidate) }}</h1>
                                    <h2>{{ candidates[candidate].chairman }} - {{ candidates[candidate].viceChairman }}</h2>
                                </div>
                                <div class="w3-padding-large w3-center">
                                    <button class="w3-btn w3-theme-action" v-on:click="start()" v-bind:disabled="timer != null">Start</button>
                                    <button class="w3-btn w3-theme-action" v-on:click="pause()" v-bind:disabled="timer == null">
                                        <span v-if="!paused">Pause</span>
                                        <span v-if="paused">Resume</span>
                                    </button>
                                    <button class="w3-btn w3-theme-action" v-on:click="reset()" v-bind:disabled="timer == null">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/script.js"></script>
    </body>
</html>
